.player-container{
    width: 292;
    height: 430;
    background-image: linear-gradient(45deg, #CAF0F8 , #CCE7C9);
}

.content{
    background-color:rgb(117, 165, 5);
}

.button-layer{
    background-color:chocolate;
}

